h2 {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
  font-size: 15px;
}
.card {
    box-sizing: border-box;
    width:22% ;
    height: 400px ;
    background-color: lightpink;
    margin: 1%;
    padding: 5px;
}
.container {
    width: 100%;
    background-color:rgba(255, 140, 0, 0.993);
    margin: 0% auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.Cart {
    width: 100%;
    background-color:rgba(184, 136, 4, 0.993);
    margin: 0% auto;
    display: flex;
    justify-content: bottom;
    flex-wrap: wrap-reverse;
}
.cardImg {
  width: 100%;
  padding: 2px auto;
  max-height: 40vh;
}
.libertinus-keyboard-regular {
  font-family: "Libertinus Keyboard", system-ui;
  font-weight: 400;
  font-style: normal;
}/* //add a name for the buttom ti select el class btn */
.btn {
  background-color: blue;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;

}
.fbtn {
  background-color: rgb(255, 189, 109);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;}
button:hover {
  background-color: darkblue;
  transform: scale(1.25);
  box-shadow: 0 4px 8px rgba(50, 58, 209, 0.2);
  margin: 0px;
}
.cardPrice {
  color: grey;
  font-weight: bold;
  font-size: 20px;
}
.cardHeader {
  display: flex ;
  /* flexdirection; */
}
#centeredH {
  text-align: center;
  color: burlywood;
}
@media screen and (max-width:800px) {
  .card {
    width:100%;
  }
  .container {
    flex-direction: column;
  }
}
@media screen and (max-width: 600px) {
  .container {
    background-color: fuchsia;
  }
}

