h2 {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
  font-size: 15px;
}
.card {
    box-sizing: border-box;
    width:22% ;
    height: 400px ;
    background-color: lightpink;
    margin: 1%;
    padding: 5px;
}
.container {
    width: 100%;
    background-color:rgba(255, 140, 0, 0.993);
    margin: 0% auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.Cart {
    width: 100%;
    background-color:rgba(184, 136, 4, 0.993);
    margin: 0% auto;
    display: flex;
    justify-content: bottom;
    flex-wrap: wrap-reverse;
}
.cardImg {
  width: 100%;
  padding: 2px auto;
  max-height: 40vh;
}
.libertinus-keyboard-regular {
  font-family: "Libertinus Keyboard", system-ui;
  font-weight: 400;
  font-style: normal;
}/* //add a name for the buttom ti select el class btn */
.btn {
  background-color: blue;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;

}
.fbtn {
  background-color: rgb(255, 189, 109);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;}
button:hover {
  background-color: darkblue;
  transform: scale(1.25);
  box-shadow: 0 4px 8px rgba(50, 58, 209, 0.2);
  margin: 0px;
}
.cardPrice {
  color: grey;
  font-weight: bold;
  font-size: 10px;
}
.cardHeader {
  display: flex ;
  /* flexdirection; */
}
#centeredH {
  text-align: center;
  color: burlywood;
}
@media screen and (max-width:800px) {
  .card {
    width:100%;
  }
  .container {
    flex-direction: column;
  }
}
@media screen and (max-width: 600px) {
  .container {
    background-color: fuchsia;
  }
}

/* how to Vite
One free bad question or else minus hos
Converts code for user
speeds up big projects
packages easier to import
Tailwind. tool for css.
Bootstrap has bunch of premade code for css
locomotive scroll and gsap bothe help with animation
Vite-take things that we need and shipo that instead of huge library and package
cntrl tilda~
things to copy
npm //for the stuff at home
node--version //20
npm create vite@latest
y to procceed
project name:
app
framework:vanilla
javascript
no for rolldown-vite(experimental)
install with npm and start now?
no
//created folder with some apps
tells you to type in terminal
cd app//cd stands for change directory
go into app folder
npm i or npm install//both mean same thing
if you go to commit in desktop and theres many, hos minus. Node modules should not be in commit. 
import `./style.css`; in main.js
mdn run dev //in the termnal gives us some stuff abt info
cntrl c hit yes//build tool to make it less biger/fatty
run vite project by typing npm run dev in terminal but the cd app first
if new computer, cd app first, then npm i is the answer




*/